.homepage-link-bar {
  padding: var(--spacing-s) var(--spacing-s) 0;
  flex-direction: column;
}

.homepage-link-bar,
.homepage-link-bar .button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homepage-link-bar.custom-bg {
  padding-bottom: var(--spacing-s);
}

.homepage-link-bar .foreground {
  margin: 0;
  text-align: center;
}

.homepage-link-bar .action-area {
  margin-top: 0;
}

.homepage-link-bar h3 {
  margin: var(--spacing-xxs);
  line-height: var(--spacing-s);
  font-size: 20px;
}

.homepage-link-bar a.con-button {
  display: flex;
  align-items: center;
  margin: var(--spacing-xxs);
  width: auto;
  padding: 0 14px;
  min-height: 26px;
  white-space: nowrap;
}

.homepage-link-bar a.con-button.outline:hover svg path {
  fill: #fff;
}

.homepage-link-bar a.con-button svg {
  width: auto;
  height: auto;
  margin-top: 4px;
}

@media screen and (max-width: 599px) {
  .homepage-link-bar.justified div,
  .homepage-link-bar.justified p {
    width: 100%;
  }

  .homepage-link-bar.justified .foreground
    > div {
    display: flex;
    align-items: stretch;
  }

  .homepage-link-bar.justified a {
    width: auto;
  }

  /* .homepage-link-bar {
    flex-direction: column;
  } */

  .homepage-link-bar h3 {
    margin-bottom: 14px;
  }

  .homepage-link-bar a.con-button {
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .homepage-link-bar {
    /* flex-direction: column;
    padding-bottom: var(--spacing-s); */
  }

  .homepage-link-bar h3 {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .homepage-link-bar {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .homepage-link-bar h3 {
    margin-bottom: var(--spacing-xxs);
  }

  .homepage-link-bar p {
    margin: 0;
  }

  .homepage-link-bar a.con-button {
    margin: var(--spacing-xxs);
  }
}
