/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 .dialog-modal.locale-modal-v2 {
  background-image: var(--mobileGeo) !important;
 }

 @media (min-width: 480px) {
  .dialog-modal.locale-modal-v2 {
    background-image: var(--tabletGeo) !important;  }
}

@media (min-width: 1200px) {
  .dialog-modal.locale-modal-v2 {
    background-image: var(--desktopGeo) !important;  }
}
