version: 1.0

#### If you have questions about this, please contact #kodiak-security on Slack. ####

# Every repository requires a unique Service Now ID number. You need to create a new service using
# the Service Registry Portal https://adobe.service-now.com/service_registry_portal.do#/search
# You should NOT leave this default!
snow:
  - id: 546349 # Milo Homepage https://adobe.service-now.com/service_registry_portal.do#/service/546349

notifications:
  jira:
    default:
      project: MWPW # Project queue in which the security ticket will be created. Can be any valid JIRA project.
      filters:
        include:
          risk_rating: R3 # Please do not change this unless instructed to do so.
        exclude:
          tool_type:
            - "grype" # Exclude SBOM tickets which duplicate findings already created by snyk
      fields:
        assignee:
          name: jrivero
        customfield_11800: MWPW-164516 # Jira epic security tickets will be assigned to.
        customfield_12900: # Team to whom the ticket will be assigned
          value: "Brahmos"
        watchers: # Everyone who is an admin on your repository should be a watcher.
          - casalino
          - tuerkben
          - seanchoi
        labels: # You can add additional labels to your tickets here. Do not delete/change the first three.
          - "OriginatingProcess=Kodiak"
          - "security"
          - "kodiak-ticket"
          - "homepage-security"
          - "hp-security"
        components:
          - name: "DevOps Security" # Please do not change this.
